
@{
    ViewData["Title"] = "Create";
}

<h4>Create Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" type = "post">
            <div class="form-group">
                <h5>Project Name</h5>
                <input type="text" class="form-control" name = "Title" required/> 
            </div>
            <div class="form-group">
                <h5> Budget</h5>
                <input type="number" class="form-control" min="0" name = "Budget"  required/>
            </div>
            <input type="submit" value = "Create" button = "primary-button">
        </form>
    </div>
</div>
