@model IEnumerable<NTR.Models.UserModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form asp-route="Index" method="post">
        <fieldset>
            <legend>System raportowania Czasu</legend>
            <select name="id" >
            @foreach (var users in Model)
            {
                <option value="@users.UserModelId"> @users.Last_Name @users.First_Name </option>
            }
            </select>

        </fieldset>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</body>
</html>